<section>
  <h1 class="text-center text-green-600 text-3xl py-5">Forget Password</h1>

  <!-- Step 1: Verify Email -->
  <form *ngIf="step === 1" [formGroup]="verifiyEmail" class="bg-gray-100 rounded-xl shadow-md p-3" (ngSubmit)="submitEmail()">
    <div class="my-2">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" class="form-control rounded">
    </div>
    <button [disabled]="verifiyEmail.invalid || isLoding" class="btn-main">
      Verify Email
      <span *ngIf="isLoding"><i class="fas fa-spin fa-spinner"></i></span>
    </button>
    <p *ngIf="isSucess" class="bg-green-600 text-white px-2 py-4 border text-center">{{ isSucess }}</p>
    <p *ngIf="MessageErorr" class="bg-red-400 text-white px-2 py-4 border text-center">{{ MessageErorr }}</p>
  </form>

  <!-- Step 2: Verify Code -->
  <form *ngIf="step === 2" [formGroup]="verifiyCode" class="bg-gray-100 rounded-xl shadow-md p-3" (ngSubmit)="submitCode()">
    <div class="my-2">
      <label for="resetCode">Reset Code</label>
      <input formControlName="resetCode" id="resetCode" type="text" class="form-control rounded">
    </div>
    <button [disabled]="verifiyCode.invalid || isLoding" class="btn-main">
      Verify Code
      <span *ngIf="isLoding"><i class="fas fa-spin fa-spinner"></i></span>
    </button>
    <p *ngIf="isSucess" class="bg-green-600 text-white px-2 py-4 border text-center">{{ isSucess }}</p>
    <p *ngIf="MessageErorr" class="bg-red-400 text-white px-2 py-4 border text-center">{{ MessageErorr }}</p>
  </form>

  <!-- Step 3: Reset Password -->
  <form *ngIf="step === 3" [formGroup]="restpassword" class="bg-gray-100 rounded-xl shadow-md p-3" (ngSubmit)="submitRestPassword()">
    <div class="my-2">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" class="form-control rounded">
    </div>
    <div class="my-2">
      <label for="newPassword">New Password</label>
      <input formControlName="newPassword" id="newPassword" type="password" class="form-control rounded">
    </div>
    <button [disabled]="restpassword.invalid || isLoding" class="btn-main">
      Reset Password
      <span *ngIf="isLoding"><i class="fas fa-spin fa-spinner"></i></span>
    </button>
    <p *ngIf="isSucess" class="bg-green-600 text-white px-2 py-4 border text-center">{{ isSucess }}</p>
    <p *ngIf="MessageErorr" class="bg-red-400 text-white px-2 py-4 border text-center">{{ MessageErorr }}</p>
  </form>
</section>
