<section class="w-1/2 mx-auto bg-gray-50 border shadow rounded p-4 ">
    <h5 class=" text-3xl text-center text-green-600 font-medium">Register Now</h5>
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()"> 
    <div class="mb-1">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
    <input formControlName="name" type="text" id="name" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
   @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched){

     <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
      <span class="sr-only">Danger</span>
      <div>
          <ul class="list-disc list-inside text-red-600 text-sm">
     @if (registerForm.get('name')?.getError('required')) { <li>Name is required</li>}
     @if (registerForm.get('name')?.getError('minlength')) {<li>Name should be at least 3 characters</li>}
     @else if (registerForm.get('name')?.getError('maxlength')) { <li>Name should be at most 20 characters</li>}
    </ul>

  </div>
    </div>
   }
   </div>
     <div class="mb-1">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
    <input formControlName="email" type="text" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
     <ul class="list-disc list-inside text-red-600 text-sm">
      @if (registerForm.get('email')?.getError('required')) { <li>Email is required</li>}
      @else if (registerForm.get('email')?.getError('email') ) {   <li>Enter a valid email (e.g., exampledomain.com)</li>}
      </ul>

  </div>
    </div>
  }
   </div>
    <div class="mb-1">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>

      <input formControlName="password" type="text" id="password"
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

      @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="list-disc list-inside text-red-600 text-sm">
              @if (registerForm.get('password')?.hasError('required')) {
                <li>Password is required</li>
              }
              @if (registerForm.get('password')?.hasError('pattern')) {
                <li>Password must start with an uppercase letter and be 7–11 characters long with only lowercase letters and digits</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
     <div class="mb-1">
    <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">rePassword</label>
    <input formControlName="rePassword" type="text" id="rePassword" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    @if (registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
            <ul class="list-disc list-inside text-red-600 text-sm">
            <li>the rePassword inncorect</li>
            </ul>
        </div>
    </div>
    }
     @if (registerForm.get('rePassword')?.getError('required')&& registerForm.get('rePassword')?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
            <ul class="list-disc list-inside text-red-600 text-sm">
            <li>the rePassword is required</li>
            </ul>
        </div>
    </div>
    }
     </div>  
     <div class="mb-1">
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone</label>
    <input formControlName="phone" type="text" id="phone" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
     @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched) {
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
     <ul class="list-disc list-inside text-red-600 text-sm">
  @if (registerForm.get('phone')?.getError('required')) { <li>Phone number is required</li>}
  @else if (registerForm.get('phone')?.getError('pattern')) {<li>Must be a valid Egyptian number (starts with 010, 011, 012, or 015)</li>}
</ul>

  </div>
    </div>
     }
   </div>
   <button [disabled]="isLoding" class="btn-main" type="submit">SignUp 
    @if (isLoding) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
    }
  </button>
  @if (isSucess) {
       <p class="bg-green-600 text-white px-2 py-4 border text-center" >{{isSucess}}</p>

  }
 @if (MessageErorr){
   <p class="bg-red-400 text-white px-2 py-4 border text-center" >{{MessageErorr}}</p>
 }
    </form>
</section>  